[Unit]
Description=Ively SmartEye™ Provision UI
After=network.target

[Service]
WorkingDirectory=/opt/ively/edge/provision-ui
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 8080
Restart=always
